*{
    margin:0px;
}
.container{
    height:400px;
    width:300px;
    margin:0 auto;
}
.container .image{
    position: relative;
    z-index:1;
}
.container .image img{
    width:100%;
    height:400px;
}
.container .text{
   position: relative;
   bottom:200px;
   left:40px;
}
.container .text a{
    text-decoration: none;
    filter: drop-shadow(1px 1px 6px rgb(224, 131, 55));
    font-size: 30px;
    font-family:cursive;
    font-weight: 900;
}
body{
    background:linear-gradient(95deg ,orange ,#8e44ad)  ;
}
.container .image:hover{
    transform:rotateY(180deg);
    opacity: 0;
    transition-duration: 10s;
}
.container .image:hover~.text{
    transform: scale(3);
    transition-duration:4s;
    transition-delay:4s;
}
@keyframes ram{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(3);
    }
}

.container .text a>span{
    animation-name:spana;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function:linear;
}